<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>event_Create.html.html</title>
    <style>
        /* * {
            outline-color: cyan;
            outline-style: solid;
            outline-width: 1px;
        } */
        body {
            background: #e8ecef;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: white;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
<!--Navbar Section Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-7 rounded">
        <a class="navbar-brand shadow-lg p-3 mb-7 rounded" href="#">Game Compiler</a>
        <button class="navbar-toggler shadow-lg p-3 mb-7 rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link shadow-lg p-3 mb-7 rounded" href="/welcome/user">Home</a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle shadow-lg p-3 mb-7 rounded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event Menu</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/event/search">Event Database</a>
                            <a class="dropdown-item" href="/event/create">Create Event</a>
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link shadow-lg p-3 mb-7 rounded" href="/account/user/{{ session.userid }}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link shadow-lg p-3 mb-7 rounded" href="/logout/user">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
<!--Navbar Section End-->
<!--Main Section Start-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 shadow-lg p-3 mb-7 rounded">Register Event</h1>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        
                        <form class="shadow-lg p-3 mb-7 rounded" action="/add/event" method="POST">
                            <h5 class="shadow-lg p-3 mb-7 rounded">Game Information</h5>
                            <div class="form-group shadow-lg p-3 mb-7 rounded">
                                <label for="regGame">Game Selector</label>
                                <select class="form-control" id="regGame" name="regGame">
                                    <option selected="selected">...</option>
                                    <option value="Super Mario Party">Super Mario Party</option>
                                    <option value="Super Mario Kart">Super Mario Kart 8</option>
                                    <option value="Splatoon">Splatoon 2</option>
                                    <option value="Call of Duty">Call of Duty</option>
                                    <option value="Forza Motorsports">Forza Motorsports</option>
                                    <option value="Doom">Doom</option>
                                    <option value="Overwatch">Overwatch</option>
                                    <option value="Battlefield">Battlefield</option>
                                    <option value="Left 4 Dead">Left 4 Dead</option>
                                    
                                </select>
                            </div>
                            <div class="form-group shadow-lg p-3 mb-7 rounded">
                                <label for="regPlatform">Platform Selector</label>
                                <select class="form-control" id="regPlatform" name="regPlatform">
                                    <option selected="selected">...</option>
                                    <option value="Nintendo Switch">Nintendo Switch</option>
                                    <option value="Playstation 4">Playstation 4</option>
                                    <option value="Xbox One">Xbox One</option>
                                    <option value="PC / Mac">PC / Mac</option>
                                </select>
                            </div>
                            <hr>
                            <h5 class="shadow-lg p-3 mb-7 rounded">Event Details</h5>
                            <div class="form-group shadow-lg p-3 mb-7 rounded">
                                <label for="regLocation">Location</label>
                                <input type="text" class="form-control" id="regLocation" name="regLocation" aria-describedby="regLocation" placeholder="Location">
                                <small id="regLocation" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group shadow-lg p-3 mb-7 rounded">
                                <label for="regGame">Max Players</label>
                                <select class="form-control" id="regPlayers" name="regPlayers">
                                    <option selected="selected">...</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="form-group shadow-lg p-3 mb-7 rounded">
                                <label >Date</label>
                                <input type="date" class="form-control" name="regDate" max="12-31-2050" min="01-01-2018" class="form-control">
                                <small id="regLocation" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group shadow-lg p-3 mb-7 rounded">
                                <label >Time</label>
                                <input type="time" class="form-control" name="regTime" class="form-control">
                                <small id="regLocation" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-primary shadow-lg p-3 mb-7 rounded">Submit</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        
                    </div>
                </div>
            </div>
        </div><!--Jumbotron Container End Div-->
    </div><!--Jumbotron End Div-->
<!--Main Section End-->
<!--Footer Section Start-->
    <div class="footer">
        <div class="container-fluid text-center text-md-left">
            <div class="row shadow-lg p-3 mb-7 rounded">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Game Compiler</h5>
                    <p>A registered trademark of your robot overlords.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Corporate Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.nintendo.com/">Nintendo</a>
                        </li>
                        <li>
                            <a href="https://www.xbox.com/">Xbox</a>
                        </li>
                        <li>
                            <a href="https://www.playstation.com/en-us/">Playstation</a>
                        </li>
                        <li>
                            <a href="https://store.steampowered.com/">Steam</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Interesting Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://discordapp.com/">Discord</a>
                        </li>
                        <li>
                            <a href="https://www.retroarch.com/">Retroarch</a>
                        </li>
                        <li>
                            <a href="http://retroachievements.org/">RetroAchievements</a>
                        </li>
                        <li>
                            <a href="https://www.twitch.tv/directory">Twitch</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> Game Compiler</a>
        </div>
    </div>
<!--Footer Section End-->
<!--Scripts Below-->
    <script src="../static/js/event_create.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>